:root{
  --color-background: #F7F6F4;
  --color-delete:#E5E5E5;
  --color-bronned:#EDEDED;
  --color-sold:#CCCCCC;
  --color-from-physic:#D6F5FF;
  --color-from-lawer:#FFE4E4;
  --color-border: #C4C4C4;
}